<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevzStore</title>
    <link rel="stylesheet" href="https://nikzdevz.in/xenostack/static/css/dashboard.css">
</head>
<body>
    <h1>DevzStore</h1>
    <p>Devstore serves as an invaluable tool designed to surmount the inherent limitations of MIT's App Inventor platform. Its primary function is to augment app functionalities, significantly improving speed and reducing overall app size. This tool proves instrumental in circumventing restrictions related to library classes in App Inventor and similar builders by enabling explicit library additions.

        One of its key functionalities lies in seamlessly integrating custom native libraries, resources, XML structures, and layouts, thereby expanding the spectrum of available tools for developers. By leveraging Devstore, users can significantly enhance both the performance and feature set of applications created through AI2 and analogous builder platforms.</p>

    <div class="button-container">
        <a href="https://drive.google.com/file/d/1f5hzEeSuDOF5F6Dju9ApOjH0X6IpP0Kg/view?usp=drive_link" class="card-button">Download</a>
        <a href="/contact" class="card-button">Contact Us</a>
        <a href="/logout" class="card-button">Logout</a>
    </div>


    <footer>
        Text hosted on AWS EC2
    </footer>
</body>
</html>
